doctype html
head
  meta(charset='UTF-8')
  meta(name='viewport' content='width=device-width, initial-scale=1')
  script(src='https://cdn.tiny.cloud/1/g836rtr5a0hnuwwful8z6mrwbpogb7yadzv9tvhfkzbe63x1/tinymce/6/tinymce.min.js' referrerpolicy='origin')
  script.
    tinymce.init({
    selector: '#myTextarea',
    plugins: 'anchor autolink charmap codesample emoticons image link lists media searchreplace table visualblocks wordcount checklist mediaembed casechange export formatpainter pageembed linkchecker a11ychecker tinymcespellchecker permanentpen powerpaste advtable advcode editimage tinycomments tableofcontents footnotes mergetags autocorrect typography inlinecss',
    toolbar: 'undo redo | blocks fontfamily fontsize | bold italic underline strikethrough | link image media table mergetags | addcomment showcomments | spellcheckdialog a11ycheck typography | align lineheight | checklist numlist bullist indent outdent | emoticons charmap | removeformat',
    tinycomments_mode: 'embedded',
    tinycomments_author: 'Author name',
    mergetags_list: [
    { value: 'First.Name', title: 'First Name' },
    { value: 'Email', title: 'Email' },
    ]
    });
  link(rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css' integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T' crossorigin='anonymous')
  script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js' integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js' integrity='sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1' crossorigin='anonymous')
  script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js' integrity='sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM' crossorigin='anonymous')
  script(type='text/javascript' src='PATH-TO-ALERTIFY-JS')
  link(rel='stylesheet' type='text/css' href='PATH-TO-ALERTIFY-CORE-CSS')
  link(rel='stylesheet' type='text/css' href='PATH-TO-ALERTIFY-DEFAULT-CSS')


form.form(style='width: 1000px; margin-left: 15rem;')
  h1 Create Blog
  .form-group
    label(style='font-weight: bold;') Your Name
    input#name.form-control.form-control-lg(type='text' placeholder='')
    br
    label(style='font-weight: bold;') Title
    input#title.form-control.form-control-lg(type='text' placeholder='')
    br
    label(style='font-weight: bold;') Post
    textarea#myTextarea
  button.btn.btn-primary( type='submit') Publish

script(src='https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.1/axios.min.js' integrity='sha512-zJYu9ICC+mWF3+dJ4QC34N9RA0OVS1XtPbnf6oXlvGrLGNB8egsEzu/5wgG90I61hOOKvcywoLzwNmPqGAdATA==' crossorigin='anonymous' referrerpolicy='no-referrer')
script(src='/js/index.js')

